@charset "utf-8";

body {
    margin: 0;
    background-color: rgb(159, 212, 159);
    
}
header {
    display: flex;
    background-image: linear-gradient(rgb(106, 253, 106), rgb(17, 83, 0));
    margin: 0;
    text-align: center;
    flex-direction: column;
}
#titulo h1 {
    font-family: "Bebas Neue";
    color: white;
    text-shadow: 1px 1px 1px black;
}
#titulo p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#menu button {
    padding: 3px;
    background-color: rgb(153, 185, 153);

}

#menu {
    height: 50px;
    align-items: start;
    
    
}
#menu nav ul {
    list-style: none;
    color: white;
    display: flex;
    gap: 15px;
    
}

main {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    background-color: white;
    justify-content: start;
    margin: 0px 400px;
    box-shadow: 0px 0px 5px 1px rgb(17, 83, 0);
    padding: 15px;
}

#artigo2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#artigo3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#artigo1 h2 {
    color: rgb(17, 83, 0);
    font-family: android;
    font-weight: bold;
    margin-top: 0;
}
p {
    
    text-align: justify;
    text-indent: 20px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: android;
    color: rgb(17, 83, 0);
    background-image: linear-gradient(to right, rgb(162, 206, 162), white);
}


.colorido {
    font-weight: bolder;
    color: rgb(0, 78, 0);
}

footer {
    background-color: rgb(0, 46, 2);
    justify-content: center;
    display: flex;
    height: 40px;
    align-items: center;
}
footer p {
    color: white;
    margin: 0;
    font-weight: bolder;
}

#fim {
    background-color: rgb(175, 216, 175);
    border-radius: 10px;
    text-align: justify;   
    display: flex;
    flex-direction: column;
}
#fim h2 {
    color: white;
    padding: 5px;
    background-color: green;
    border-radius: 10px 10px 0px 0px;   
}
#fim p {
    text-align: justify;
    padding: 5px;
}

